<div *ngIf="publicationText" style="margin-top:100px">
    <h2 style="text-align: center;">{{ publicationText.publicationName }}</h2>

    <div class="publication-container">
        <div class="publication-text">
            <p *ngFor="let paragraph of getCurrentPageText()">{{ paragraph }}</p>
        </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center;">
        <button (click)="previousPage()" [disabled]="publicationText.currentPage === 1">Previous Page</button>
        <p style="margin: 0 10px;">{{publicationText.currentPage}} of {{publicationText.countOfPages}}</p>
        <button (click)="nextPage()" [disabled]="publicationText.currentPage === publicationText.countOfPages">Next Page</button>
    </div>
</div>

<div *ngIf="!publicationText">
    <p>Loading publication...</p>
</div>
