<div style="margin-top: 100px;">
  <header class="text-center">
    <h3 style="font-weight: 700;">Каталог</h3>
  </header>
  <div class="checkbox-container">
    <label style="font-weight: bold;">Жанри:</label>
    <div class="genre-scroll-container">
      <div *ngFor="let genre of genres">
        <label>
          <input type="checkbox" [value]="genre.id" (change)="onGenreChange($event)">
          {{ genre.name }}
        </label>
      </div>
    </div>
  </div>

  <div class="sorting-block">
    <div style="display: flex; align-items: center;"> 
      <div style="margin-right: 10px;">
        <label class="label-line" for="startPage">Кількість сторінок з</label>
        <input type="number" id="startPage" [(ngModel)]="sortQuery.startPage" (change)="onPageInputChange()">
      </div>
      <div>
        <label style=" font-weight: bold;" for="endPage">- по:</label>
        <input type="number" id="endPage" [(ngModel)]="sortQuery.endPage" (change)="onPageInputChange()">
      </div>
    </div>
    <div>
      <label class="label-line" for="yearPublication">Рік публікації:</label>
      <input type="number" id="yearPublication" [(ngModel)]="sortQuery.yearPublication" (change)="onYearPublicationChange()">
    </div>

    <div>
      <label class="label-line" for="sort">Сортувати по:</label>
      <select id="sort" (change)="onSortChange($event)">
        <option *ngFor="let item of sortByItems" [value]="item.id">{{ item.itemName }}</option>
      </select>
      <select id="sortDirection" (change)="onSortDirectionChange($event)">
        <option value="asc">Зростанням</option>
        <option value="desc">Спаданням</option>
      </select>
    </div>
    <div>
      <button (click)="sortPublications()">Sort</button>
    </div>
  </div>

  <div class="publication-list-container">
    <div *ngIf="publications.length > 0; else noPublications">
      <ul class="publication-list">
        <li class="publication-item" *ngFor="let publication of getPaginatedPublications()">
          <a [routerLink]="['/publication', publication.publicationId]" class="publication-link">
            <div class="publication-details">
              <p style=" font-size:24px; color: #333; font-weight: bold;">{{ publication.publicationName }}</p>
              <p><strong>Author:</strong> {{ publication.author.userName }}</p>
              <p><strong>Genre:</strong> {{ publication.genreName }}</p>
              <p><strong>Rating:</strong> {{ publication.rating }}/100</p>
              <p><strong>Date:</strong> {{ publication.datePublication | date }}</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <ng-template #noPublications>
      <p class="no-publications">No publications found.</p>
    </ng-template>
  </div>
  
  <div class="pagination-controls">
    <button *ngIf="currentPage > 1" (click)="onPageChange(currentPage - 1)">Previous Page</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button *ngIf="currentPage < totalPages" (click)="onPageChange(currentPage + 1)">Next Page</button>
  </div>
</div>
