.publication-list-container {
    margin-top: 50px;
  }
  
  .publication-list {
    list-style-type: none;
    padding: 0;
  }
  
  .publication-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .publication-details h3 {
    margin-top: 0;
  }
  
  .no-publications {
    font-style: italic;
    color: #888;
  }
  .search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar-container input {
    flex: 1;
    margin-right: 10px;
  }
  