.publication-list-container {
    margin-top: 50px;
  }
  
  .publication-list {
    list-style-type: none;
    padding: 0;
  }
  
  .publication-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .publication-details h3 {
    margin-top: 0;
  }
  
  .no-publications {
    font-style: italic;
    color: #888;
  }
  
  .publication-details h3 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }
  
  .publication-item a {
    text-decoration: none;
    color: inherit; 
  }

  .publication-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  button {
    padding: 10px 20px;
    border: none;
    background-color: #233487;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }