<div style="margin-top: 100px;"></div>

<div class="publication-list-container">
  <div *ngIf="publications.length > 0; else noPublications">
    <ul class="publication-list">
      <li class="publication-item" *ngFor="let publication of getPaginatedPublications()">
        <a [routerLink]="['/publication', publication.publicationId]" class="publication-link">
          <div class="publication-details">
            <h3>{{ publication.publicationName }}</h3>
            <p><strong>Автор:</strong> {{ publication.authorName }}</p>
            <p><strong>Жанр:</strong> {{ publication.genreName }}</p>
            <p><strong>Рейтинг:</strong> {{ publication.rating }}/5</p>
            <p><strong>Дата:</strong> {{ publication.datePublication | date }}</p>
          </div>
        </a>
        <button (click)="onDeletePublication(publication.publicationId)">Видалити</button>
      </li>
    </ul>

    <div class="pagination-controls">
      <button *ngIf="currentPage > 1" class="btn btn-primary" (click)="onPageChange(currentPage - 1)">Попередня сторінка</button>
      <span>Сторінка {{ currentPage }} з {{ totalPages }}</span>
      <button *ngIf="currentPage < totalPages" class="btn btn-primary" (click)="onPageChange(currentPage + 1)">Наступна сторінка</button>
    </div>
  </div>
  <ng-template #noPublications>
    <p class="no-publications">No publications found.</p>
  </ng-template>
</div>
