body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333; 
}

.genre-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
}

.genre-item {
  margin-bottom: 20px; 
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px; 
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s; 
  flex: 1 1 calc(33.333% - 40px); 
  max-width: calc(33.333% - 40px); 
  min-width: 280px; 
}

.genre-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px); 
}

.genre-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.genre-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333; 
  padding: 10px; 
}

.genre-name {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500; 
}
