<div id="app">
  <nav  class="navbar navbar-expand navbar-dark home fixed-top">
    <a href="#">
      <img style="width: 40px; height: 40px; margin-right: 10px;" src="../assets/icons/book.png" alt="#">
    </a>
    <a href="#" class="navbar-brand text-white">Писемна платформа</a>

    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/genres" class="nav-link text-white" routerLink="genres">Genres</a>
      </li>
      <li class="nav-item">
        <a href="/authors" class="nav-link text-white" routerLink="authors">Authors</a>
      </li>
      <li class="nav-item">
        <a href="/all-publications" class="nav-link text-white" routerLink="all-publications">Publications</a>
      </li>
      <li class="nav-item">
        <a href="/create-publication" class="nav-link text-white" routerLink="create-publication">create</a>
      </li>
      <li class="nav-item">
        <a href="/catalog" class="nav-link text-white" routerLink="catalog">Каталог</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link text-white" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link text-white" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link text-white" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link text-white" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </nav>

  <div class="container" >
    <router-outlet></router-outlet>
  </div>
</div>
