<form (ngSubmit)="onSubmit()" style="margin-top: 100px;">
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  
  <div>
      <label for="publicationName">Publication Name:</label>
      <input type="text" id="publicationName" [(ngModel)]="publicationName" name="publicationName" required>
  </div>
  
  <div>
      <label for="genreId">Genre:</label>
      <select id="genreId" [(ngModel)]="genreId" name="genreId" required>
          <option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</option>
      </select>
  </div>
  
  <div>
      <label for="filePath">Upload File (PDF only):</label>
      <input type="file" id="filePath" (change)="onFileChange($event, 'filePath')" accept="application/pdf" required>
  </div>
  
  <div>
      <label for="titlePath">Upload Title Image (JPG only):</label>
      <input type="file" id="titlePath" (change)="onFileChange($event, 'titlePath')" accept="image/jpeg" required>
  </div>
  
  <div>
      <label for="bookDescription">Book Description:</label>
      <textarea id="bookDescription" [(ngModel)]="bookDescription" name="bookDescription" required></textarea>
  </div>
  
  <button type="submit">Create Publication</button>
</form>
