<div style="margin-top: 100px;"></div>
<div *ngIf="publication" class="publication-container">
  <div class="publication-row">
    <div class="publication-left">
      <h2 class="publication-title">{{ publication.publicationName }}</h2>
      <div>
        <img class="publication-image"
          alt="Publication Image"
          [src]="'https://booksinshops.blob.core.windows.net/books-in-shop/' + publication.titleKey">
      </div>
      <button [routerLink]="['/read-publication']"
        [queryParams]="{ fileKey: publication.fileKey, countOfPages: publication.countOfPages }"
        class="read-button"
        [disabled]="!isLoggedIn"
        [class.disabled-button]="!isLoggedIn">
        Читати
      </button>
      <div *ngIf="!isLoggedIn" class="action-message">
        <p>Зареєструйтеся, щоб отримати доступ до книги</p>
      </div>
      <div *ngIf="isLoggedIn && !hasReviewed" class="rating-form">
        <label class="add-ratting" for="rating">Оцінка (0-100):</label>
        <input type="number" id="rating" [(ngModel)]="newRating" name="rating" min="0" max="100">
        <button (click)="onSubmitReview()" class="add-ratting-button" [disabled]="isSubmittingReview">
          Додати оцінку
        </button>
        <div *ngIf="ratingError" class="error-message">{{ ratingError }}</div>
      </div>
      <div *ngIf="isLoggedIn && hasReviewed" class="reviewed-section">
        <p>Ви вже залишили оцінку</p>
        <button (click)="onDeleteReview()" class="delete-button">
          Видалити оцінку
        </button>
      </div>
      <div *ngIf="!isLoggedIn" class="action-message">
        <p>Зареєструйтеся, щоб додати оцінку</p>
      </div>
    </div>
    <div class="publication-content">
      <p><strong>Автор:</strong> {{ publication.author.firstName }}</p>
      <p><strong>Жанр:</strong> {{ publication.genreName }}</p>
      <p><strong>Рейтинг:</strong> {{ publication.rating }} ({{ publication.countOfRewiews }} відгуків)</p>
      <p><strong>Дата публікації:</strong> {{ publication.datePublication | date }}</p>
    </div>
  </div>
  <div class="tab-buttons">
    <button (click)="showBookInfo()" [class.active]="activeTab === 'book'">Про книгу</button>
    <button (click)="showAuthorInfo()" [class.active]="activeTab === 'author'">Про автора</button>
    <button (click)="showReviewsInfo()" [class.active]="activeTab === 'reviews'">Відгуки</button>
  </div>
  <div>
    <div class="reviews-section" [ngSwitch]="activeTab">
      <ng-container *ngSwitchCase="'book'">
        <p>{{ publication.bookDescription }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="'author'">
        <p>{{ publication.author.personalInformation }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="'reviews'">
        <div *ngIf="comments.length > 0; else noComments">
          <div *ngFor="let comment of comments" class="comment">
            <p>{{ comment.commentText }}</p>
            <button *ngIf="comment.userId === loggedInUserId" (click)="onDeleteComment(comment.commentId)">
              Видалити
            </button>
          </div>
        </div>
        <ng-template #noComments>
          <p>Поки що немає жодних коментарів.</p>
        </ng-template>
        <div *ngIf="isLoggedIn">
          <form (ngSubmit)="onSubmitComment()" #commentForm="ngForm" class="comment-form">
            <textarea [(ngModel)]="newCommentText" name="commentText" required></textarea>
            <button type="submit" [disabled]="!commentForm.form.valid">Додати відгук</button>
          </form>
        </div>
        <div *ngIf="!isLoggedIn" class="action-message">
          <p>Зареєструйтеся, щоб залишити коментар</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
