.publication-container {
    background-color: #f0f4f8;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 40px auto;
    font-family: 'Montserrat', sans-serif; 
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .publication-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .publication-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    flex-basis: 200px;
    text-align: center;
  }
  
  .publication-title {
    color: #333;
    font-size: 32px; 
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .publication-image {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .publication-content {
    font-size: 18px;
    flex-grow: 1;
    min-width: 250px;
  }
  
  .publication-content p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif; 
  }
  
  .publication-content p strong {
    color: #222;
  }
  
  .read-button {
    background-color: #233487;
    width: 200px;
    color: white; 
    padding: 15px 25px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer;
  }
  .disabled-button {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
  
  .tab-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
  }
  
  .tab-buttons button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
  }
  
  .tab-buttons button.active {
    color: #233487;
    border-bottom: 10px solid #233487;
  }
  
  .tab-buttons button:hover {
    color: #233487;
  }
  
  .comment {
    margin-bottom: 20px;
  }
  
  .comment button {
    background-color: #c1574b;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .comment button:hover {
    background-color: #c0392b;
  }
  
  .error-message {
    color: #e74c3c;
  }
  
  .delete-button {
    background-color: #c1574b;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c1574b;
  }

  .add-ratting{
    font-size: 18px;
    margin-top: 30px;
  }

  .add-ratting-button{
    font-size: 14px;
    margin-top: 0px;
    background-color: #233487;
    width: 150px;
    color: white; 
    padding: 10px 10px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer;
  }